

.card_row{
    display: flex;
    gap: 16px;
    flex-wrap: wrap
}






.services_container {
    position: relative;
    min-height: 600px;
    /* height: 100%; */
    padding-left: 35px;
}

.services_container p {
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.common_header {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 48px;
}

.service_card {
    border-radius: 15px;
    border: 1px solid #F5F5F5;
    background: var(--neutros-white, #FFF);
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.05);
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    max-height: 174px !important;
    height: 100%;
    max-width: 458px !important;
    width: 100% !important;
}

.card_desc span {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.96px;
}

.card_desc small {
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.56px;
}

.car_gif {
    position: absolute;
    top: 31%;
    right: 0;
    z-index: -999999999999999999 !important;
}

.common_header1 {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 8px;
}

.service_2_container {
    margin:0px 32px !important;
    border-radius: 20px;
    background: var(--neutros-white, #FFF);
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.05);
}

.service2_left {
    width: 100%;
}

.service2_left small {
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.section2_right_img img {
    width: 406px;
    height: 406px;
}

.var_mas_info_text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.var_mas_info_text a {
    color: var(--paleta-blue-light, #50C0F9);
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

}

.var_mas_info_text a:hover {
    text-decoration: none;

}

.var_mas_info_text img {
    width: 24px;
    height: 24px;
}


/* mobile e shift hbe */
.var_mas_info_text_mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}


.var_mas_info_text_mobile a {
    color: var(--paleta-blue-light, #50C0F9) !important;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.card {
    border-radius: 12px;
    background: var(--neutros-white, #FFF);
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.05);
    max-width: 296px;
    display: none;
}

.card-img-top {
    width: 172px;
    height: 172px;
    margin: auto;
}

.card-body {
    padding: 25px;
}

.card_container_width{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
@media(max-width:767px) {
    .service_card {
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 8px;
    }

    .service_column {
        margin-bottom: 24px !important;
    }

    .car_gif {
        display: none;
    }

    .services_container {
        margin: 32px !important;
        padding-left: 0px;
    }

    .common_header {
        font-size: 24px;
    }

    .card_desc span {
        font-size: 16px;
    }

    .services_container p {
        font-size: 14px;
    }

    .mobile_car_gif {
        display: block !important;
        margin: 0 auto 80px auto !important;
    }

    .mobile_car_gif img {
        width: 100%;
        /* margin-bottom: 80px !important; */
    }

    .var_mas_info_text_mobile a {
        color: var(--paleta-blue-light, #50C0F9) !important;
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
    }

    .card {
        display: block;
    }

    .desktop_device_card {
        display: none;
    }
    .card_img{
      text-align: center;
    }
}