.tab_design {
    border-radius: 50px !important;
    background: var(--paleta-blue-light, #50C0F9) !important;
    padding: 8px 16px !important;
    display: flex !important;
    width: 100% !important;
    padding: 8px 16px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    color: var(--neutros-white, #FFF) !important;
    font-family: Work Sans !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    text-transform: initial !important;
    z-index: 1;
    outline: none;

}

.tab_design2 {
    border-radius: 50px !important;
    background: var(--neutros-light, #DDD) !important;
    padding: 8px 16px !important;
    display: flex !important;
    width: 100% !important;
    padding: 8px 16px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    color: var(--neutros-medium, #67626F) !important;
    font-family: Work Sans !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    text-transform: initial !important;
    z-index: 1;

}

.open_tab {
    visibility: visible;
    opacity: 1;
    /* height: fit-content; */
    /* height: 310px; */
    transition: ease-in 0.8s;
}

.close_tab {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    transition: ease-out 0s;
}

.tab_design:focus {
    border: none !important;
    outline: none;

}

.var_mas_info_button:focus {
    border: 2px solid var(--paleta-blue-light, #50C0F9) !important;
}

.center_tab_margin {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.css-1aquho2-MuiTabs-indicator {
    display: none;
}

button:focus {
    outline: none !important;
    border: none;
}

.css-13xfq8m-MuiTabPanel-root {
    padding-left: 25px !important;
    padding-bottom: 0px !important;
}

/* blur right imag */
.desktop_tabs {
    position: relative;
}

.tab_blur_right {
    position: absolute;
    right: -25%;
    bottom: -255px;
    transform: rotate(0deg);
}

/* tab 1 css----------------- */
.inform_auto_save {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.44px;
}

.t1_header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 48px;
}

.t1_desc {
    display: flex;
    flex-direction: column;
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.72px;
    margin-bottom: 48px;
}

.mobile_flex {
    gap: 9.5px;
}

.common_div_flex {
    display: flex;
    justify-content: start;
    align-items: center !important;
    gap: 11px;
    margin-bottom: 24px;
}

.common_div_flex:last-child {
    margin-bottom: 0px !important;
}

.common_div_flex small {
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.64px;
}

.left_images_colum {
    margin-bottom: 48px;
}

.left_login {
    max-width: 560px;
    width: 100%;
    z-index: 1;
}

.var_mas_info_button {
    border-radius: 10px;
    border: 2px solid var(--paleta-blue-light, #50C0F9);
    padding: 8px 24px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: var(--paleta-blue-light, #50C0F9);
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
    margin-bottom: 36px;
}
.var_mas_info_button1 {
    border-radius: 10px;
    border: 0;
    /* padding: 8px 24px; */
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: var(--paleta-blue-light, #50C0F9);
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    background-color: transparent;
    /* margin-bottom: 36px; */
}

.section2_container {
    margin: auto;
    margin-top: 65px;
    margin-left: 50px;
    /* padding: 150px; */
}

.login_form {
    display: flex;
    justify-content: end;
    align-items: start;
    z-index: 1;
}

/* tab 1 login part design */
.login_container {
    padding: 36px !important;
    border-radius: 24px;
    border: 1px solid #F1F1F1;
    background: var(--neutros-white, #FFF);
    max-width: 394px;
    width: 100%;
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.05);
}

.login_container h3 {
    margin-bottom: 36px;
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.form-group {
    margin-bottom: 36px;
}

label {
    color: var(--neutros-dark, #121113) !important;
    font-family: Work Sans !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 600 !important;
}

.login_btn {
    border-radius: 10px;
    background: var(--paleta-blue-light, #50C0F9);
    color: var(--neutros-white, #FFF);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 24px;
    width: 100%;
    margin-bottom: 8px;
}

.login_container p {
    color: var(--paleta-blue-light, #50C0F9);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding: 8px 16px;

}

/* tab 2 */
.tab2_login_last_text {
    color: var(--paleta-blue-light, #50C0F9) !important;
    font-family: Work Sans !important;
    font-size: 18px !important;
    font-style: normal;
    font-weight: 500 !important;
    text-align: center;
    gap: 8px;
}

/* tsb 3 */
.form_select {
    border-radius: 3px;
    width: 100%;
    display: flex;
    padding: 12px !important;
    color: var(--neutros-medium, #67626F) !important;

    justify-content: space-between;
    border: 1px solid #EBEBEB;
}

.select_design {
    width: 100%;
    background: var(--neutros-white, #FFF);
}

.select_design:focus-visible {
    border: 1px solid #EBEBEB;
    background: var(--neutros-white, #FFF);
}

.select_container {
    display: flex;
    /* padding: 12px; */
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 36px;
}

/* mobile tab */
.close_tab_design {
    border-radius: 16px;
    background: var(--neutros-white, #FFF);
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.05);
    width: 296px;
    padding: 16px !important;
    margin-bottom: 8px;
    transition: 2s ease-out;
}

.tab_mobile_header small {
    color: var(--neutros-dark, #121113);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.8px;
    cursor: pointer;

}

.tab_mobile_header span {
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: -0.56px;
}

.mobile_flex img {
    width: 24px;
    height: 24px;
    margin-top: 3px;
}

.tab_mobile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /* margin-bottom: 16px; */
}

.login_container_mobile {
    width: 100%;
}

.t2_desc {
    display: flex;
    flex-direction: column;
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.72px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.tab2_login_last_text_mobile {
    color: var(--paleta-blue-light, #50C0F9);
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    gap: 8px;
    padding: 8px;
}

.blur_image2 {
    background-image: url('../../assets/Blur1.png');
    position: absolute;
}

.rotate_image {
    transform: rotate(180deg);
}