.veichleInfo_margin {
    border-radius: 20px;
    padding: 45px 48px 30px 48px !important;
    border-radius: 20px !important;

}

.veichle_section {
    min-height: 173px !important;
    height: 100%;
    /* background-image: url('../../assets/frame3.png') !important; */
    /* background-repeat: no-repeat !important; */
    /* background-position: center; */
    /* background-size: cover !important; */
    margin: 80px 32px !important;
    border-radius: 20px !important;
    box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.05);
    background: var(--neutros-white, #FFF);

}

.vinfo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;

}

.vinfo_div h5 {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140% !important;
    margin-bottom: 0 !important;
}

.vinfo_div small {
    color: var(--neutros-medium, #67626F);
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.mobile_veichle_blur {
    display: none;
}

@media(max-width:360px) {
    .mobile_veichle_blur {
        bottom: -40% !important;
    }

}

@media(max-width:768px) {
    .veichleInfo_margin {
        /* padding: 48px !important; */
    }

    .vinfo_div h5 {
        font-size: 24px;
    }

    .vinfo_div small {
        font-size: 14px;
    }

    .mobile_veichle_blur {
        display: block;
        position: absolute;
        bottom: -74%;
        /* z-index: -1; */
    }

    .veichle_section {
        min-height: 300px !important;
        padding: 1px;
        position: relative;
        z-index: 1 !important;
        /* margin-top: 0px !important; */
    }

    .vinfo_div {
        margin-bottom: 36px !important;
    }

    .vinfo_div {
        justify-content: start;
    }

    .veichleInfo_margin {
        /* margin: 40px 0px 40px 0px !important;

        padding:80px 48px 80px 48px !important; */

    }

    .veichle_section {
        padding-top: 1px;
    }

    /*     .tab_blur_right {
        display: none;
    } */

    .veichle_section {
        margin: 0px 32px;
    }

}