.common_subheader small {
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.common_subheader p {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.44px;
}

.common_subheader {
    margin: 0 32px 48px;
}

.gallary_image {
    width: 285px;
    border-radius: 5px;
    height: 270px;
}


.mobile_gallary_img {
    width: 100% !important;
    height: 80px !important;
}

.mobile_gallary_img img {
    width: 100%;
    height: 80px;
    border-radius: 3px;
}

.g_row1 {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-left: 32px;
    /* justify-content: center; */
}

.owl-item {
    margin-right: 16px !important;
}

.gallary_container {
    z-index: 1 !important;
}

@media (min-width:769px) and (max-width:1220px) {

    .g_row1 {

        justify-content: center;
    }
}

@media (max-width:768px) {
    .gallary_mobile {
        display: block !important;
    }

    .gallary_desktop {
        display: none;
    }

    .common_subheader small {
        font-size: 12px;
    }

    .common_subheader p {
        font-size: 24px;

    }

    .common_subheader {
        margin: 48px 0px;
    }

    .gallary_container {
        height: 250px;
        margin:0px 32px !important;
    }

    .gallary_desktop {
        display: none;
    }

.owl-stage{
    height: 100px;
}
}