.common_subheader small {
    color: var(--neutros-medium, #67626F);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.common_subheader p {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.44px;
}

.gallary_image {
    width: 285px;
    border-radius: 5px;
    height: 270px;
}

@media (max-width:768px) {
    .common_subheader small {
        font-size: 12px;
    }

    .common_subheader p {
        font-size: 24px;

    }
    .gallary_container{
        margin: 32px !important;
    }
    .gallary_desktop{
        display: none;
    }
}