@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&family=Work+Sans&display=swap");

.mobile_tabs {
  display: none;
}

.nav_fixed {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.blur_left_parent {
  position: relative;
  width: 100% !important;
  overflow: hidden;
}

.img3 {
  position: absolute;
  top: 72px;
  left: -28px;
}

.slick-slide {
  margin-right: -59px !important;

}

.slick-track {
  background-color: transparent !important;
}

.slick-prev {
  visibility: hidden;
  opacity: 0;
}

/* swipper */
.swiper-slide {
  max-width: 490px !important;
  width: 100% !important;
}

.swiper {
  padding: 2rem;
}

.swiper .res-slide {
  /* min-width: 300px;
  max-width: 400px; */
  min-height: 350px;
  border: 2px solid hsl(210, 100%, 50%);
  border-radius: 20px;
}

.swiper-nav-btns button {
  width: 60px;
  height: 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: hsl(210, 100%, 50%);
  color: #fff;
  margin: 0px 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  transition: all .5s;
}

.swiper-nav-btns button:hover {
  background-color: hsl(210, 100%, 40%);
  cursor: pointer;
}

.res-slide:nth-child(1) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444282/samples/landscapes/nature-mountains.jpg");
}

.res-slide:nth-child(2) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444278/samples/landscapes/beach-boat.jpg");
}

.res-slide:nth-child(3) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444275/samples/landscapes/girl-urban-view.jpg");
}

.res-slide:nth-child(4) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444277/samples/animals/three-dogs.jpg");
}

.res-slide:nth-child(5) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444273/samples/animals/reindeer.jpg");
}

.res-slide:nth-child(6) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444278/samples/people/bicycle.jpg");
}

.res-slide:nth-child(7) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444279/samples/ecommerce/leather-bag-gray.jpg");
}

.res-slide:nth-child(8) {
  background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444271/samples/ecommerce/analog-classic.jpg");
}


.swiper_parent_container {
  display: flex;
  justify-content: space-between;
}

/* header_carousal */
.header_carousal h2 {
  color: var(--paleta-blue-dark, #002863) !important;
  font-family: Work Sans !important;
  font-size: 36px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 140%;
  letter-spacing: -1.44px;
}


.header_carousal p {
  color: var(--neutros-medium, #67626F);
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.64px;
}

.header_car {
  position: absolute;
  top: 0;

}

.swiper-nav-btns button {
  width: 64px;
  height: 64px;
  background-color: #50c0f9;
  border-radius: 50%;
  border: none;
  margin-right: 16px;
  cursor: pointer;
  box-shadow: none;
}

.swiper-nav-btns button:hover {
  background-color: #6dc6f3;
}

.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  padding-top: 148px;
  margin-bottom: 80px;
  margin-left: 32px;
}

.swiper-nav-btns {
  position: absolute;
  top: 0;
  right: 0;
}

.carousal_parent_container {
  position: relative;
}

.round_blur_carousal {
  position: absolute !important;
  right: 0 !important;
  bottom: -553px !important;

}

.round_blur_carousal img {
  width: 100%;
}

/* swipper */
@media (max-width: 768px) {
  .swiper-slide {
    max-width: 490px !important;
    width: 90% !important;
  }
  .header_carousal h2 {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.96px;
  }

  .round_blur_carousal {
    display: none;
  }



  .slick-slide {
    margin-right: 54px !important;
  }

  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    padding-top: 180px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .header_car {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .swiper-nav-btns {
    display: none;
  }

  .img3 img {
    max-width: 300px;
    width: 100%;
    z-index: -1;
  }


  .img3 {
    top: 100px;
    left: 0;
  }

  .mobile_tabs {
    display: flex;
    margin: auto !important;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
  }

  .desktop_tabs {
    display: none;
  }

  .blur_left_parent {
    width: 100% !important;
    overflow: hidden;
  }
}

@media only screen and (min-width: 769px) and (max-width: 966px) {

  .car_gif {
    display: none !important;
  }

}

@media only screen and (min-width: 769px) and (max-width: 1114px) {
  .mobile_tabs {
    display: none;
  }

  .desktop_tabs {
    display: block;
  }

  .tab_design2 {
    width: max-content !important;
  }

  .tab_design {
    width: max-content !important;
  }

  .car_gif {
    display: block;
    position: absolute;
    top: 60% !important;
    right: 50%;
    transform: translateX(50%);
    left: auto;
  }

  .services_container {
    margin-bottom: 80px;
  }

  .small_colum_mnobile {
    justify-content: center;
    width: 100%;
  }

  .services_header_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
}

.css-1anid1y {
  position: unset !important;
  /* display: none!important; */
}

.css-ttwr4n {
  background-color: rgb(25 118 210 / 0%) !important;
}

button {
  /* border: none !important; */
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

input {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #EBEBEB;
  background: var(--neutros-white, #FFF);
  height: 49px;
}