.banner_bg {
    background-color: #E6F6FE;
    border-bottom-left-radius: 35% 34%;
    border-bottom-right-radius: 35% 34%;
    min-height: 280px;
    display: flex;

}

.blue_light_color {
    color: var(--paleta-blue-light, #50C0F9);
    text-align: center;
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.44px;
}

.de_veichle {
    color: var(--paleta-blue-dark, #002863);
    font-family: Work Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}


.banner_text {
    max-width: 1008px;
    text-align: center;
    margin: auto;

}